@model IEnumerable<MyAspTest.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Отделы компании</h1>

<p>
    <a asp-action="Create">Открыть новый отдел</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Название отдела
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Кол-во сотрудников
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentPositions.Count)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
